@import '../../styles/variables';
@import '../../styles/mixins';

.selectedTab {
  @include text-gradient($the-power-gradient);

  @media screen and (max-width: $tablet) {
    width: 60% !important;
  }
}

.tab {
  height: 20px;
  min-height: unset;
  padding-top: 4px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-transform: none;

  @include mobile {
    width: 15%;
    min-width: 40px;
    justify-content: flex-start;
    padding: 4px 0 0;
    margin: 0 4px;
    font-size: 14px;
    line-height: 16px;
  }
}

.tabsRoot {
  min-height: unset;
}

.tabsFlexContainer {
  margin-bottom: 4px !important;
}
